<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        <span class="card-title"><a style="color:white" href=""></a></span>
      </div>
        <div class="card-content">
			<div>
				<img src="../assets/images/eclipse.png">
			</div>
			<div>
				<img class="responsive-img" src="../assets/images/spring.png">
			</div>
			<div>
				<img class="responsive-img" src="../assets/images/odatabase.png">
			</div>
			<div>
				<img class="responsive-img" src="../assets/images/mysql.png">
			</div>
			<div>
				<img class="responsive-img" src="../assets/images/tomcat.png">
			</div>
			<div>
				<img class="responsive-img" src="../assets/images/github.png">
			</div>
			<div>
				<img class="responsive-img" src="../assets/images/html-5.png">
			</div>
			<div>
				<img class="responsive-img" src="../assets/images/css.png">
			</div>
			<div>
				<img class="responsive-img" src="../assets/images/java.png">
			</div>
			<div>
				<img class="responsive-img" src="../assets/images/javascript.png">
			</div>
			<div>
				<img class="responsive-img" src="../assets/images/jquery.png">
			</div>
      </div>
    </div>
  </div>
</div>
